.orange-select {
        color: #ff9100;
        font-style: italic;
}

.green-select {
        color: #76ff03;
        font-style: italic;
}

.cyan-select {
        color: #00e5ff;
}

.stackoverflow {
        color: #f48024;
}

.material-select {
        color: #ff80ab;
}
